/*google font imports*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code&display=swap');

/*main font*/
.google-sans-code {
  font-family: "Google Sans Code", monospace;
  font-weight: 400;
  font-style: normal;
}

/*bold version of font above*/
.sans-code-bold {
  font-family: "Google Sans Code", monospace;
  font-weight: 600;
  font-style: normal;
}

/*header font*/
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*background*/
body {
  margin: 0;
  border: 0;
  background-color: #ffffff;
}

/*header div for all pages*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,.05);
}

/*style of my name*/
header h2 {
    color: #4F89F7;
    padding-left: 2vw;
    font-size: 3vw;
}

/*nav bar as a whole*/
nav {
    display: flex;
    align-items: center;
    padding-right: 2vw;
    gap: 3px;
    width: auto;
}

/*each individual link in the nav bar*/
header a {
    display: flex;
    align-items: center;
    color: #4F89F7;
    text-decoration: none;
    position: relative; /*the icons move with one another, allowing for the shift effect*/
}

/*icon gets darker when hovered over*/
header a:hover {
    color: #072b6e;
}

/*word label that goes with each icon is not visible at first*/
.nav-label {
    display: inline-block;
    max-width: 0;          /* Hidden initially */
    overflow: hidden;
    white-space: nowrap;

    opacity: 0;
    transform: translateX(-8px);
    margin-left: 6px;      /* Space between icon and text */

    transition:
        max-width 0.3s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
}

/*when the icon is hovered over, the text label that goes with it shows*/
header a:hover .nav-label {
    max-width: 100px;      /* Larger than your longest label */
    opacity: 1;
    transform: translateX(0);
}

/*tile of each page*/
h1 {
    color: #000000;
    text-align: center;
    font-size: 5vw;
}
